<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>



        <menuitem id="karavan_menu_root"
                  name="Karavan"
                  sequence="-5"/>

        <menuitem id="karavan_menu_teskilat"
                  name="Karavan teskilat"
                  parent="karavan_menu_root"
                  sequence="0"/>







    </data>
</odoo>
